.pictureModal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #222222ee;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pictureModal div {
    background-color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    width: 90%;
    position: relative;
}

.pictureModal div svg {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    padding: 0.5rem 0.65rem;
    border-radius: 2rem;
}

.pictureModal div img {
    width: 100%;
}