.presentation {
    min-height: 100vh;
    padding: 6.5rem 2rem;
    max-width: 800px;
    margin: 0 auto;
}

.presentation h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.presentation video {
    border-radius: 1rem;
    position: relative;
}

.presentation p {
    white-space: pre-wrap;
    margin-top: 1.75rem;
    background-color: #eee;
    border-radius: 1rem;
    padding: 1rem 1.25rem 1.25rem 1.25rem;
    font-size: 1.15rem;
}

@media screen and (min-width: 576px) {
    .presentation {
        padding: 6.5rem 2rem 6rem 2rem;
    }
}

@media screen and (min-width: 768px) {
    .presentation {
        padding: 6.5rem 2rem 5.5rem 2rem;
    }

    .presentation p {
        padding: 1.5rem 1.75rem 1.75rem 1.75rem;
    }
}