.navbarWrapper {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

.navbar {
    background-color: #D9F6D9;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 10px #22222299;
}

.title {
    display: flex;
    align-items: center;
    margin-left: 0.65rem;
}

.title img {
    display: none;
}

.title span {
    font-family: 'Rouge Script', cursive;
    font-size: 2.75rem;
    cursor: pointer;
}

.navbar svg {
    font-size: 1.5rem;
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
}

.dropdownActive {
    background-color: #c9e6c9;
}

.navLinks {
    display: none;
    padding-right: 0.75rem;
}

.navLinks a {
    text-decoration: none;
    color: #222;
    font-size: 1.15rem;
    margin-left: 1.75rem;
    text-transform: uppercase;
    transition: color 0.3s;
}

@media screen and (min-width: 576px) {
    .title img {
        display: inline;
        width: 45px;
        margin-right: 0.75rem;
    }
}

@media screen and (min-width: 768px) {
    .navbar svg {
        display: none;
    }

    .navLinks {
        display: flex;
    }

    .navLinks a:hover {
        color: #2c4e2c;
    }
}

@media screen and (min-width: 992px) {
    .navLinks a {
        margin-left: 2.25rem;
    }
}