.navbar {
    background-color: #D9F6D9;
    padding: 0.5rem 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    display: flex;
    align-items: center;
}

.title img {
    width: 14%;
    margin-right: 0.75rem;
}

.title span {
    font-family: 'Rouge Script', cursive;
    font-size: 2.5rem;
}

.navbar svg {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}