.navbarWrapper {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

.navbar {
    background-color: #D9F6D9;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    display: flex;
    align-items: center;
    margin-left: 0.65rem;
}

.title img {
    width: 12%;
    margin-right: 0.5rem;
    display: none;
}

.title span {
    font-family: 'Rouge Script', cursive;
    font-size: 2.75rem;
}

.navbar svg {
    font-size: 1.5rem;
    padding: 0.5rem 0.65rem;
    border-radius: 0.5rem;
}

.dropdownActive {
    background-color: #badaba;
}