.cv {
    min-height: 100vh;
    padding: 6.5rem 2rem;
    max-width: 800px;
    margin: 0 auto;
}

.cv h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.cvContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
}

.tabContainer {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.15rem;
    color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #D9F6D9;
    border-radius: 1rem;
    background-color: #D9F6D9;
    padding: 1rem 1.25rem;
    cursor: pointer;
    transition: filter 0.3s;
}

.tabContainer:hover {
    filter: brightness(95%);
}

.tabContainer svg {
    margin-left: 0.75rem;
}

.contentVisible {
    border: 5px solid #D9F6D9;
    border-radius: 1rem;
}

.tabActive {
    border: none;
    padding: 1rem 1.25rem 0.75rem 1.25rem;
    background-color: #fff;
}

.tabActive:hover {
    filter: none;
}

.cvContent {
    padding: 0 1.25rem 1rem 1.25rem;
}

.cvEntry {
    border-bottom: 1px solid #ccc;
    padding: 0.75rem 0;
}

.entryHeadingWrapper h2 {
    font-size: 1.25rem;
}

.entryCompany {
    font-style: italic;
}

.entryTitle {
    font-size: 1.25rem;
    margin-top: 0.25rem;
}

.cvContent :last-child {
    border: none;
    padding-bottom: 0;
}

@media screen and (min-width: 576px) {
    .entryHeadingWrapper {
        display: flex;
        align-items: flex-end;
    }
    
    .entryHeadingWrapper p {
        margin-left: 0.5rem;
        margin-bottom: 1px;
    }
}

@media screen and (min-width: 768px) {
    .entryHeadingWrapper h2 {
        font-size: 1.5rem;
    }

    .entryHeadingWrapper p {
        font-size: 1.15rem;
    }

    .entryCompany {
        font-size: 1.15rem;
    }

    .entryTitle {
        font-size: 1.5rem;
    }
}