.cv {
    min-height: 100vh;
    padding: 6.5rem 2rem;
    max-width: 800px;
    margin: 0 auto;
}

.cv h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.cvContainer {
    border: 5px solid #D9F6D9;
    border-radius: 1rem;
}

.tabContainer {
    display: flex;
    justify-content: space-evenly;
}