@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Rouge+Script&family=Source+Sans+Pro&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #222;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Serif', serif;
}

p, a {
    font-family: 'Source Sans Pro', sans-serif;
}